* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}


/* Colour Codes(Could have used CSS Custom Properties but wnated IE support.)
  Off-White #f4f9e9 text-background
  Orange #c16700 highlight
  Blue #284b63 background
  Darker Blue #153243 text
  Purple #330036 highlight?
 */

body {
  background: #284b63;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #153243;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}


/* Fixed Navigation */

#menu {
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: #f4f9e9;
  width: 992px;
  height: 50px;
  line-height: 50px;
  color: #153243;
  overflow: hidden;
  border: 1px solid #284b63;
}

#menu>h4 {
  display: inline;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

#menu>ul {
  padding-right: 20px;
  float: right;
}

#menu a {
  font-family: 'Oswald', sans-serif;
  color: #153243;
  text-decoration: none;
  padding-left: 20px;
}


/* Add particle animation elements. */

.particles {
  width: 100%;
  background: #284b63;
  overflow: hidden;
  position: relative;
}


/* The particlesHeader container is set to realtive position and it's children are
set to absolute so that content will appear ontop of the animated canvas generated
by particleground. */

#particlesHeader {
  height: 100vh;
}

#particlesHeader>div, #particlesHeader>canvas {
  position: absolute;
  height: 100%;
}


/* The absoluteContainer will center cotent ontop of the canvas */

.absoluteContainer {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}


/* Intro, name and tagline. */

#intro {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: #f4f9e9;
}


/* Dash after name. */

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #f4f9e9;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}

#intro>p {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #f4f9e9;
}

#aboutHeader {
  height: 40vh;
}

/* About, placed in the particlesHeader but is the beginning of about.
Contains portrait and blurb. */

#about {
  position: absolute;
  bottom: 3%;
}

#portrait {
  background-repeat: no-repeat;
  background-image: url(../img/me.jpg);
  background-position: 50%;
  border-radius: 50%;
  width: 25%;
  height: 250px;
  background-size: 250px;
  float: left;
  margin-right: 25px;
  border: 2px solid #153243;
}

#about p {
  color: #f4f9e9;
  height: 250px;
  width: 70%;
  float: right;
}

/* TODO Figure out min-height*/

#aboutSection {
  /* particlesHeader uses the inverse of this height, totalling 100vh for the
  section */
  height: 60vh;
  width: 100%;
  background-color: #f4f9e9;
}
